workspace/GestionSenales/src/main/resources/wsdl/CCLIntegrationService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://webservice.com/" name="CCLIntegrationService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://webservice.com/"
                        schemaLocation="http://es1devcclvip:8011/AllInOne_CCL/CCLIntegrationService?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://jaxb.dev.java.net/array"
                        schemaLocation="http://es1devcclvip:8011/AllInOne_CCL/CCLIntegrationService?xsd=2"/>
        </xsd:schema>
    </types>
    <message name="MARTELOrquestacion">
        <part name="parameters" element="tns:MARTELOrquestacion"/>
    </message>
    <message name="MARTELOrquestacionResponse">
        <part name="parameters" element="tns:MARTELOrquestacionResponse"/>
    </message>
    <message name="insertAgentActionDesktop">
        <part name="parameters" element="tns:insertAgentActionDesktop"/>
    </message>
    <message name="insertAgentActionDesktopResponse">
        <part name="parameters" element="tns:insertAgentActionDesktopResponse"/>
    </message>
    <message name="insertAgentActionDesktopUTC">
        <part name="parameters" element="tns:insertAgentActionDesktopUTC"/>
    </message>
    <message name="insertAgentActionDesktopUTCResponse">
        <part name="parameters" element="tns:insertAgentActionDesktopUTCResponse"/>
    </message>
    <message name="getCallingListANDCampaign">
        <part name="parameters" element="tns:getCallingListANDCampaign"/>
    </message>
    <message name="getCallingListANDCampaignResponse">
        <part name="parameters" element="tns:getCallingListANDCampaignResponse"/>
    </message>
    <message name="getCCLVersion">
        <part name="parameters" element="tns:getCCLVersion"/>
    </message>
    <message name="getCCLVersionResponse">
        <part name="parameters" element="tns:getCCLVersionResponse"/>
    </message>
    <message name="updateRecording">
        <part name="parameters" element="tns:updateRecording"/>
    </message>
    <message name="updateRecordingResponse">
        <part name="parameters" element="tns:updateRecordingResponse"/>
    </message>
    <message name="insertDoNotCallContact">
        <part name="parameters" element="tns:insertDoNotCallContact"/>
    </message>
    <message name="insertDoNotCallContactResponse">
        <part name="parameters" element="tns:insertDoNotCallContactResponse"/>
    </message>
    <message name="GTAOrquestacion">
        <part name="parameters" element="tns:GTAOrquestacion"/>
    </message>
    <message name="GTAOrquestacionResponse">
        <part name="parameters" element="tns:GTAOrquestacionResponse"/>
    </message>
    <message name="dialDTMFTones">
        <part name="parameters" element="tns:dialDTMFTones"/>
    </message>
    <message name="dialDTMFTonesResponse">
        <part name="parameters" element="tns:dialDTMFTonesResponse"/>
    </message>
    <message name="retrieveData">
        <part name="parameters" element="tns:retrieveData"/>
    </message>
    <message name="retrieveDataResponse">
        <part name="parameters" element="tns:retrieveDataResponse"/>
    </message>
    <message name="stopRecording">
        <part name="parameters" element="tns:stopRecording"/>
    </message>
    <message name="stopRecordingResponse">
        <part name="parameters" element="tns:stopRecordingResponse"/>
    </message>
    <message name="startRecording">
        <part name="parameters" element="tns:startRecording"/>
    </message>
    <message name="startRecordingResponse">
        <part name="parameters" element="tns:startRecordingResponse"/>
    </message>
    <message name="blindTransferMKT">
        <part name="parameters" element="tns:blindTransferMKT"/>
    </message>
    <message name="blindTransferMKTResponse">
        <part name="parameters" element="tns:blindTransferMKTResponse"/>
    </message>
    <message name="campaignValidation">
        <part name="parameters" element="tns:campaignValidation"/>
    </message>
    <message name="campaignValidationResponse">
        <part name="parameters" element="tns:campaignValidationResponse"/>
    </message>
    <message name="consultationCallMKT">
        <part name="parameters" element="tns:consultationCallMKT"/>
    </message>
    <message name="consultationCallMKTResponse">
        <part name="parameters" element="tns:consultationCallMKTResponse"/>
    </message>
    <message name="consultationCall">
        <part name="parameters" element="tns:consultationCall"/>
    </message>
    <message name="consultationCallResponse">
        <part name="parameters" element="tns:consultationCallResponse"/>
    </message>
    <message name="transferConsultationCall">
        <part name="parameters" element="tns:transferConsultationCall"/>
    </message>
    <message name="transferConsultationCallResponse">
        <part name="parameters" element="tns:transferConsultationCallResponse"/>
    </message>
    <message name="transferConsultationCallMKT">
        <part name="parameters" element="tns:transferConsultationCallMKT"/>
    </message>
    <message name="transferConsultationCallMKTResponse">
        <part name="parameters" element="tns:transferConsultationCallMKTResponse"/>
    </message>
    <message name="cancelConsultationCall">
        <part name="parameters" element="tns:cancelConsultationCall"/>
    </message>
    <message name="cancelConsultationCallResponse">
        <part name="parameters" element="tns:cancelConsultationCallResponse"/>
    </message>
    <message name="cancelConsultationCallMKT">
        <part name="parameters" element="tns:cancelConsultationCallMKT"/>
    </message>
    <message name="cancelConsultationCallMKTResponse">
        <part name="parameters" element="tns:cancelConsultationCallMKTResponse"/>
    </message>
    <message name="dialNumberExtension">
        <part name="parameters" element="tns:dialNumberExtension"/>
    </message>
    <message name="dialNumberExtensionResponse">
        <part name="parameters" element="tns:dialNumberExtensionResponse"/>
    </message>
    <message name="dialNumberExtensionSITE">
        <part name="parameters" element="tns:dialNumberExtensionSITE"/>
    </message>
    <message name="dialNumberExtensionSITEResponse">
        <part name="parameters" element="tns:dialNumberExtensionSITEResponse"/>
    </message>
    <message name="dialDTMFTonesSITE">
        <part name="parameters" element="tns:dialDTMFTonesSITE"/>
    </message>
    <message name="dialDTMFTonesSITEResponse">
        <part name="parameters" element="tns:dialDTMFTonesSITEResponse"/>
    </message>
    <message name="getCallStatusSITE">
        <part name="parameters" element="tns:getCallStatusSITE"/>
    </message>
    <message name="getCallStatusSITEResponse">
        <part name="parameters" element="tns:getCallStatusSITEResponse"/>
    </message>
    <message name="addCallInformation">
        <part name="parameters" element="tns:addCallInformation"/>
    </message>
    <message name="addCallInformationResponse">
        <part name="parameters" element="tns:addCallInformationResponse"/>
    </message>
    <message name="insertHistoricInteraction">
        <part name="parameters" element="tns:insertHistoricInteraction"/>
    </message>
    <message name="insertHistoricInteractionResponse">
        <part name="parameters" element="tns:insertHistoricInteractionResponse"/>
    </message>
    <message name="insertHistoricInteractionUTC">
        <part name="parameters" element="tns:insertHistoricInteractionUTC"/>
    </message>
    <message name="insertHistoricInteractionUTCResponse">
        <part name="parameters" element="tns:insertHistoricInteractionUTCResponse"/>
    </message>
    <message name="updateHistoric">
        <part name="parameters" element="tns:updateHistoric"/>
    </message>
    <message name="updateHistoricResponse">
        <part name="parameters" element="tns:updateHistoricResponse"/>
    </message>
    <message name="updateHistoricInteractionUTC">
        <part name="parameters" element="tns:updateHistoricInteractionUTC"/>
    </message>
    <message name="updateHistoricInteractionUTCResponse">
        <part name="parameters" element="tns:updateHistoricInteractionUTCResponse"/>
    </message>
    <message name="getInsNoByPhoneAndCountryVRU">
        <part name="parameters" element="tns:getInsNoByPhoneAndCountryVRU"/>
    </message>
    <message name="getInsNoByPhoneAndCountryVRUResponse">
        <part name="parameters" element="tns:getInsNoByPhoneAndCountryVRUResponse"/>
    </message>
    <message name="userLogout">
        <part name="parameters" element="tns:userLogout"/>
    </message>
    <message name="userLogoutResponse">
        <part name="parameters" element="tns:userLogoutResponse"/>
    </message>
    <message name="checkLoginAgentGroup">
        <part name="parameters" element="tns:checkLoginAgentGroup"/>
    </message>
    <message name="checkLoginAgentGroupResponse">
        <part name="parameters" element="tns:checkLoginAgentGroupResponse"/>
    </message>
    <message name="checkDoNotCallContact">
        <part name="parameters" element="tns:checkDoNotCallContact"/>
    </message>
    <message name="checkDoNotCallContactResponse">
        <part name="parameters" element="tns:checkDoNotCallContactResponse"/>
    </message>
    <message name="deleteDoNotCallContact">
        <part name="parameters" element="tns:deleteDoNotCallContact"/>
    </message>
    <message name="deleteDoNotCallContactResponse">
        <part name="parameters" element="tns:deleteDoNotCallContactResponse"/>
    </message>
    <message name="checkSupervisorAgent">
        <part name="parameters" element="tns:checkSupervisorAgent"/>
    </message>
    <message name="checkSupervisorAgentResponse">
        <part name="parameters" element="tns:checkSupervisorAgentResponse"/>
    </message>
    <message name="retrieveDataAnswerCall">
        <part name="parameters" element="tns:retrieveDataAnswerCall"/>
    </message>
    <message name="retrieveDataAnswerCallResponse">
        <part name="parameters" element="tns:retrieveDataAnswerCallResponse"/>
    </message>
    <message name="hangUpCallSITE">
        <part name="parameters" element="tns:hangUpCallSITE"/>
    </message>
    <message name="hangUpCallSITEResponse">
        <part name="parameters" element="tns:hangUpCallSITEResponse"/>
    </message>
    <message name="blindTransferCall">
        <part name="parameters" element="tns:blindTransferCall"/>
    </message>
    <message name="blindTransferCallResponse">
        <part name="parameters" element="tns:blindTransferCallResponse"/>
    </message>
    <message name="answerCall">
        <part name="parameters" element="tns:answerCall"/>
    </message>
    <message name="answerCallResponse">
        <part name="parameters" element="tns:answerCallResponse"/>
    </message>
    <message name="playLocution">
        <part name="parameters" element="tns:playLocution"/>
    </message>
    <message name="playLocutionResponse">
        <part name="parameters" element="tns:playLocutionResponse"/>
    </message>
    <message name="hangUpCall">
        <part name="parameters" element="tns:hangUpCall"/>
    </message>
    <message name="hangUpCallResponse">
        <part name="parameters" element="tns:hangUpCallResponse"/>
    </message>
    <message name="userLogin">
        <part name="parameters" element="tns:userLogin"/>
    </message>
    <message name="userLoginResponse">
        <part name="parameters" element="tns:userLoginResponse"/>
    </message>
    <message name="checkAgentStatus">
        <part name="parameters" element="tns:checkAgentStatus"/>
    </message>
    <message name="checkAgentStatusResponse">
        <part name="parameters" element="tns:checkAgentStatusResponse"/>
    </message>
    <message name="modifyAgentStatus">
        <part name="parameters" element="tns:modifyAgentStatus"/>
    </message>
    <message name="modifyAgentStatusResponse">
        <part name="parameters" element="tns:modifyAgentStatusResponse"/>
    </message>
    <message name="sendSMS">
        <part name="parameters" element="tns:sendSMS"/>
    </message>
    <message name="sendSMSResponse">
        <part name="parameters" element="tns:sendSMSResponse"/>
    </message>
    <message name="sendEmail">
        <part name="parameters" element="tns:sendEmail"/>
    </message>
    <message name="sendEmailResponse">
        <part name="parameters" element="tns:sendEmailResponse"/>
    </message>
    <message name="startCampaign">
        <part name="parameters" element="tns:startCampaign"/>
    </message>
    <message name="startCampaignResponse">
        <part name="parameters" element="tns:startCampaignResponse"/>
    </message>
    <message name="stopCampaign">
        <part name="parameters" element="tns:stopCampaign"/>
    </message>
    <message name="stopCampaignResponse">
        <part name="parameters" element="tns:stopCampaignResponse"/>
    </message>
    <message name="checkCallingListContactDNC">
        <part name="parameters" element="tns:checkCallingListContactDNC"/>
    </message>
    <message name="checkCallingListContactDNCResponse">
        <part name="parameters" element="tns:checkCallingListContactDNCResponse"/>
    </message>
    <message name="checkCLChainIdDNC">
        <part name="parameters" element="tns:checkCLChainIdDNC"/>
    </message>
    <message name="checkCLChainIdDNCResponse">
        <part name="parameters" element="tns:checkCLChainIdDNCResponse"/>
    </message>
    <message name="checkCallingListContact">
        <part name="parameters" element="tns:checkCallingListContact"/>
    </message>
    <message name="checkCallingListContactResponse">
        <part name="parameters" element="tns:checkCallingListContactResponse"/>
    </message>
    <message name="checkCLChainIdContactInfoDNC">
        <part name="parameters" element="tns:checkCLChainIdContactInfoDNC"/>
    </message>
    <message name="checkCLChainIdContactInfoDNCResponse">
        <part name="parameters" element="tns:checkCLChainIdContactInfoDNCResponse"/>
    </message>
    <message name="checkCLChainIdContactInfo">
        <part name="parameters" element="tns:checkCLChainIdContactInfo"/>
    </message>
    <message name="checkCLChainIdContactInfoResponse">
        <part name="parameters" element="tns:checkCLChainIdContactInfoResponse"/>
    </message>
    <message name="insertCallingListContact">
        <part name="parameters" element="tns:insertCallingListContact"/>
    </message>
    <message name="insertCallingListContactResponse">
        <part name="parameters" element="tns:insertCallingListContactResponse"/>
    </message>
    <message name="updateCallingListContact">
        <part name="parameters" element="tns:updateCallingListContact"/>
    </message>
    <message name="updateCallingListContactResponse">
        <part name="parameters" element="tns:updateCallingListContactResponse"/>
    </message>
    <message name="deleteCallingListContact">
        <part name="parameters" element="tns:deleteCallingListContact"/>
    </message>
    <message name="deleteCallingListContactResponse">
        <part name="parameters" element="tns:deleteCallingListContactResponse"/>
    </message>
    <message name="insertCallingListContactNumber">
        <part name="parameters" element="tns:insertCallingListContactNumber"/>
    </message>
    <message name="insertCallingListContactNumberResponse">
        <part name="parameters" element="tns:insertCallingListContactNumberResponse"/>
    </message>
    <message name="searchRecording">
        <part name="parameters" element="tns:searchRecording"/>
    </message>
    <message name="searchRecordingResponse">
        <part name="parameters" element="tns:searchRecordingResponse"/>
    </message>
    <message name="getCallStatus">
        <part name="parameters" element="tns:getCallStatus"/>
    </message>
    <message name="getCallStatusResponse">
        <part name="parameters" element="tns:getCallStatusResponse"/>
    </message>
    <portType name="CCLIntegration">
        <operation name="MARTELOrquestacion">
            <input message="tns:MARTELOrquestacion"/>
            <output message="tns:MARTELOrquestacionResponse"/>
        </operation>
        <operation name="insertAgentActionDesktop">
            <input message="tns:insertAgentActionDesktop"/>
            <output message="tns:insertAgentActionDesktopResponse"/>
        </operation>
        <operation name="insertAgentActionDesktopUTC">
            <input message="tns:insertAgentActionDesktopUTC"/>
            <output message="tns:insertAgentActionDesktopUTCResponse"/>
        </operation>
        <operation name="getCallingListANDCampaign">
            <input message="tns:getCallingListANDCampaign"/>
            <output message="tns:getCallingListANDCampaignResponse"/>
        </operation>
        <operation name="getCCLVersion">
            <input message="tns:getCCLVersion"/>
            <output message="tns:getCCLVersionResponse"/>
        </operation>
        <operation name="updateRecording">
            <input message="tns:updateRecording"/>
            <output message="tns:updateRecordingResponse"/>
        </operation>
        <operation name="insertDoNotCallContact">
            <input message="tns:insertDoNotCallContact"/>
            <output message="tns:insertDoNotCallContactResponse"/>
        </operation>
        <operation name="GTAOrquestacion">
            <input message="tns:GTAOrquestacion"/>
            <output message="tns:GTAOrquestacionResponse"/>
        </operation>
        <operation name="dialDTMFTones">
            <input message="tns:dialDTMFTones"/>
            <output message="tns:dialDTMFTonesResponse"/>
        </operation>
        <operation name="retrieveData">
            <input message="tns:retrieveData"/>
            <output message="tns:retrieveDataResponse"/>
        </operation>
        <operation name="stopRecording">
            <input message="tns:stopRecording"/>
            <output message="tns:stopRecordingResponse"/>
        </operation>
        <operation name="startRecording">
            <input message="tns:startRecording"/>
            <output message="tns:startRecordingResponse"/>
        </operation>
        <operation name="blindTransferMKT">
            <input message="tns:blindTransferMKT"/>
            <output message="tns:blindTransferMKTResponse"/>
        </operation>
        <operation name="campaignValidation">
            <input message="tns:campaignValidation"/>
            <output message="tns:campaignValidationResponse"/>
        </operation>
        <operation name="consultationCallMKT">
            <input message="tns:consultationCallMKT"/>
            <output message="tns:consultationCallMKTResponse"/>
        </operation>
        <operation name="consultationCall">
            <input message="tns:consultationCall"/>
            <output message="tns:consultationCallResponse"/>
        </operation>
        <operation name="transferConsultationCall">
            <input message="tns:transferConsultationCall"/>
            <output message="tns:transferConsultationCallResponse"/>
        </operation>
        <operation name="transferConsultationCallMKT">
            <input message="tns:transferConsultationCallMKT"/>
            <output message="tns:transferConsultationCallMKTResponse"/>
        </operation>
        <operation name="cancelConsultationCall">
            <input message="tns:cancelConsultationCall"/>
            <output message="tns:cancelConsultationCallResponse"/>
        </operation>
        <operation name="cancelConsultationCallMKT">
            <input message="tns:cancelConsultationCallMKT"/>
            <output message="tns:cancelConsultationCallMKTResponse"/>
        </operation>
        <operation name="dialNumberExtension">
            <input message="tns:dialNumberExtension"/>
            <output message="tns:dialNumberExtensionResponse"/>
        </operation>
        <operation name="dialNumberExtensionSITE">
            <input message="tns:dialNumberExtensionSITE"/>
            <output message="tns:dialNumberExtensionSITEResponse"/>
        </operation>
        <operation name="dialDTMFTonesSITE">
            <input message="tns:dialDTMFTonesSITE"/>
            <output message="tns:dialDTMFTonesSITEResponse"/>
        </operation>
        <operation name="getCallStatusSITE">
            <input message="tns:getCallStatusSITE"/>
            <output message="tns:getCallStatusSITEResponse"/>
        </operation>
        <operation name="addCallInformation">
            <input message="tns:addCallInformation"/>
            <output message="tns:addCallInformationResponse"/>
        </operation>
        <operation name="insertHistoricInteraction">
            <input message="tns:insertHistoricInteraction"/>
            <output message="tns:insertHistoricInteractionResponse"/>
        </operation>
        <operation name="insertHistoricInteractionUTC">
            <input message="tns:insertHistoricInteractionUTC"/>
            <output message="tns:insertHistoricInteractionUTCResponse"/>
        </operation>
        <operation name="updateHistoric">
            <input message="tns:updateHistoric"/>
            <output message="tns:updateHistoricResponse"/>
        </operation>
        <operation name="updateHistoricInteractionUTC">
            <input message="tns:updateHistoricInteractionUTC"/>
            <output message="tns:updateHistoricInteractionUTCResponse"/>
        </operation>
        <operation name="getInsNoByPhoneAndCountryVRU">
            <input message="tns:getInsNoByPhoneAndCountryVRU"/>
            <output message="tns:getInsNoByPhoneAndCountryVRUResponse"/>
        </operation>
        <operation name="userLogout">
            <input message="tns:userLogout"/>
            <output message="tns:userLogoutResponse"/>
        </operation>
        <operation name="checkLoginAgentGroup">
            <input message="tns:checkLoginAgentGroup"/>
            <output message="tns:checkLoginAgentGroupResponse"/>
        </operation>
        <operation name="checkDoNotCallContact">
            <input message="tns:checkDoNotCallContact"/>
            <output message="tns:checkDoNotCallContactResponse"/>
        </operation>
        <operation name="deleteDoNotCallContact">
            <input message="tns:deleteDoNotCallContact"/>
            <output message="tns:deleteDoNotCallContactResponse"/>
        </operation>
        <operation name="checkSupervisorAgent">
            <input message="tns:checkSupervisorAgent"/>
            <output message="tns:checkSupervisorAgentResponse"/>
        </operation>
        <operation name="retrieveDataAnswerCall">
            <input message="tns:retrieveDataAnswerCall"/>
            <output message="tns:retrieveDataAnswerCallResponse"/>
        </operation>
        <operation name="hangUpCallSITE">
            <input message="tns:hangUpCallSITE"/>
            <output message="tns:hangUpCallSITEResponse"/>
        </operation>
        <operation name="blindTransferCall">
            <input message="tns:blindTransferCall"/>
            <output message="tns:blindTransferCallResponse"/>
        </operation>
        <operation name="answerCall">
            <input message="tns:answerCall"/>
            <output message="tns:answerCallResponse"/>
        </operation>
        <operation name="playLocution">
            <input message="tns:playLocution"/>
            <output message="tns:playLocutionResponse"/>
        </operation>
        <operation name="hangUpCall">
            <input message="tns:hangUpCall"/>
            <output message="tns:hangUpCallResponse"/>
        </operation>
        <operation name="userLogin">
            <input message="tns:userLogin"/>
            <output message="tns:userLoginResponse"/>
        </operation>
        <operation name="checkAgentStatus">
            <input message="tns:checkAgentStatus"/>
            <output message="tns:checkAgentStatusResponse"/>
        </operation>
        <operation name="modifyAgentStatus">
            <input message="tns:modifyAgentStatus"/>
            <output message="tns:modifyAgentStatusResponse"/>
        </operation>
        <operation name="sendSMS">
            <input message="tns:sendSMS"/>
            <output message="tns:sendSMSResponse"/>
        </operation>
        <operation name="sendEmail">
            <input message="tns:sendEmail"/>
            <output message="tns:sendEmailResponse"/>
        </operation>
        <operation name="startCampaign">
            <input message="tns:startCampaign"/>
            <output message="tns:startCampaignResponse"/>
        </operation>
        <operation name="stopCampaign">
            <input message="tns:stopCampaign"/>
            <output message="tns:stopCampaignResponse"/>
        </operation>
        <operation name="checkCallingListContactDNC">
            <input message="tns:checkCallingListContactDNC"/>
            <output message="tns:checkCallingListContactDNCResponse"/>
        </operation>
        <operation name="checkCLChainIdDNC">
            <input message="tns:checkCLChainIdDNC"/>
            <output message="tns:checkCLChainIdDNCResponse"/>
        </operation>
        <operation name="checkCallingListContact">
            <input message="tns:checkCallingListContact"/>
            <output message="tns:checkCallingListContactResponse"/>
        </operation>
        <operation name="checkCLChainIdContactInfoDNC">
            <input message="tns:checkCLChainIdContactInfoDNC"/>
            <output message="tns:checkCLChainIdContactInfoDNCResponse"/>
        </operation>
        <operation name="checkCLChainIdContactInfo">
            <input message="tns:checkCLChainIdContactInfo"/>
            <output message="tns:checkCLChainIdContactInfoResponse"/>
        </operation>
        <operation name="insertCallingListContact">
            <input message="tns:insertCallingListContact"/>
            <output message="tns:insertCallingListContactResponse"/>
        </operation>
        <operation name="updateCallingListContact">
            <input message="tns:updateCallingListContact"/>
            <output message="tns:updateCallingListContactResponse"/>
        </operation>
        <operation name="deleteCallingListContact">
            <input message="tns:deleteCallingListContact"/>
            <output message="tns:deleteCallingListContactResponse"/>
        </operation>
        <operation name="insertCallingListContactNumber">
            <input message="tns:insertCallingListContactNumber"/>
            <output message="tns:insertCallingListContactNumberResponse"/>
        </operation>
        <operation name="searchRecording">
            <input message="tns:searchRecording"/>
            <output message="tns:searchRecordingResponse"/>
        </operation>
        <operation name="getCallStatus">
            <input message="tns:getCallStatus"/>
            <output message="tns:getCallStatusResponse"/>
        </operation>
    </portType>
    <binding name="CCLIntegrationPortBinding" type="tns:CCLIntegration">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="MARTELOrquestacion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="insertAgentActionDesktop">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="insertAgentActionDesktopUTC">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCallingListANDCampaign">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCCLVersion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateRecording">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="insertDoNotCallContact">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GTAOrquestacion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="dialDTMFTones">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="retrieveData">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="stopRecording">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="startRecording">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="blindTransferMKT">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="campaignValidation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultationCallMKT">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultationCall">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="transferConsultationCall">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="transferConsultationCallMKT">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="cancelConsultationCall">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="cancelConsultationCallMKT">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="dialNumberExtension">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="dialNumberExtensionSITE">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="dialDTMFTonesSITE">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCallStatusSITE">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addCallInformation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="insertHistoricInteraction">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="insertHistoricInteractionUTC">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateHistoric">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateHistoricInteractionUTC">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getInsNoByPhoneAndCountryVRU">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="userLogout">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkLoginAgentGroup">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkDoNotCallContact">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteDoNotCallContact">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkSupervisorAgent">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="retrieveDataAnswerCall">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="hangUpCallSITE">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="blindTransferCall">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="answerCall">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="playLocution">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="hangUpCall">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="userLogin">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkAgentStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="modifyAgentStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="sendSMS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="sendEmail">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="startCampaign">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="stopCampaign">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkCallingListContactDNC">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkCLChainIdDNC">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkCallingListContact">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkCLChainIdContactInfoDNC">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkCLChainIdContactInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="insertCallingListContact">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateCallingListContact">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteCallingListContact">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="insertCallingListContactNumber">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="searchRecording">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCallStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CCLIntegrationService">
        <port name="CCLIntegrationPort" binding="tns:CCLIntegrationPortBinding">
            <soap:address location="http://es1devcclvip:8011/AllInOne_CCL/CCLIntegrationService"/>
        </port>
    </service>
</definitions>